<div class="starter-template">
    <div >



        <div class="row">
          <div class="col">

      <img src="../../assets/apache-kafka.png" style="max-width:100%;
      height:auto;" >
      </div>
      <div class="col">
      <div  class="presentation" >
        <h2>Kafka</h2>
        <p>Started with REST, Kafka gives much more stable backbone.</p>

        </div>
    </div>
    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
        </div>
