<div class="starter-template">
    <div >



        <div class="row">
          <div class="col">

    <img src="../../assets/cqrs.png" width="500px">
    </div>
    <div class="col">
    <div  class="presentation " >
      <p>Command Query Responsibility Segregation</p>
      <p>Different model to update information than the model you use to read information</p>

    </div>
    </div>
    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
  </div>

