<div class="starter-template">
    <div >



        <div class="row">
          <div class="col">

    <img src="../../assets/core.png"   style="max-width:100%;
    height:auto;padding-left:10px">
    </div>
    <div class="col">
    <div  class="presentation " >
        <h2 >Hexagonal architecture</h2>
        <h4 >Concepts</h4>
        <ul>
          <li>Adaptable endpoints</li>

        </ul>
        <h4 >Products</h4>
        <ul>
          <li>Quarkus</li>
          <li>NodeJS</li>
          <li>Keycloak</li>

        </ul >

    </div>
    </div>
    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
  </div>

