<main role="main" class="container">

  <div class="starter-template">

    <div class="row">
      <div class="col" class="presentation">

        <p>Sales tool and interactive reactive game engine</p>
        <p>It's live.  It works.<br>
        Deadline? add a timer.<br>
        No deadline? add additional channels.</p>
        <!-- <p>Purpose of the game?<br>To engage people in the room<br>
          <ul>
            <li>Built using impact mapping</li>
            <li>Coming work produced by Red Hat Open Innovation labs</li>
            <li> Change development paradigms</li>
          </ul> -->

            <p>Start a new game? Click the button!</p>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" [hidden]="gameService.gameInProgress" (click)="startGame()">Start Game</button>

            </div>
      </div>
    </div>
    <div class="row">


      <div class="col">
          <button type="button" class="btn btn-primary btn-lg" [hidden]="!gameService.gameInProgress" (click)="stopGame()">Stop Game</button>

      </div>
    </div>



  </div>
  <br>
  <div class="game-progress" *ngIf="gameService.gameInProgress">
    <div class="card">
      <div class="card-body" *ngIf="gameService.gameInProgress">
        <p>Game is in progress, start new rounds with the button below.</p>
        <div class="row">
        <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Round duration</span>
            </div>
            <input type="number" width="5" [(ngModel)]="duration" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Number of rounds</span>
              </div>
              <input type="number" width="5" [(ngModel)]="numRounds" class="form-control">
            </div>
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg" [disabled]="gameService.roundsInProgress"  (click)="startRound()">Start Rounds</button>
      </div>
    </div>

      <div class="card-body" *ngIf="roundComplete">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Round complete</h5>
          <h6 class="card-text">Thanks for your participation, we'll now select a winner</h6>
          <button type="button" class="btn btn-primary btn-lg" (click)="selectWinner()">Select winner</button>
        </div>
      </div>
    </div>
    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>



</main><!-- /.container -->
