

  <div class="starter-template">
      <div >



          <div class="row">
            <div class="col">

                      <img src="../../assets/core.png" height="400px" style="float:left;">
                    </div>
            <div  class="col presentation" >
              <h2 >Twitter engine</h2>
              <h4 >Twitter is a domain, a technical space</h4>
              <p>Additional domains can be brought online independently</p>
              <ul>
                <li>Slack</li>
                <li>Google Chat</li>
                <li>LinkedIn</li>
                <li>Skype</li>

              </ul >
                <p>If we had the luxury of more time, we'd bring another channel on live during the demo</p>
            </div>
          </div>


        </div>

    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
    </div>


