

  <div class="starter-template">
      <div >



          <div class="row">
            <div class="col">

                      <img src="../../assets/ddd.png" style="max-width:70%;
                      height:auto;padding-left:10px">
                    </div>
            <!-- <div  class="col presentation" >
              <h2 >Domain Driven Design and Event Driven Architecture</h2>
              <h4 >Concepts</h4>
              <ul>
                <li>Domains and Infrastructure</li>
                <li>Events</li>
              </ul>
              <h4 >Products</h4>
              <ul>
                <li>Open Innovation Labs</li>
                <li>AMQ Streams</li>
                <li>Quarkus</li>

              </ul >

            </div> -->
          </div>


        </div>

    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
    </div>


