

  <div class="starter-template">
      <div  >



          <div class="row">

          <div class="col">
            <div class="presentation " >
              <h2>Business Benefits</h2>
              <p>Speed of change/releasing new features.<br>
                  Scale due to endpoints and data volume
                  </p>
              <h2 >Products</h2>
              <ul>
                <li>Red Hat Open Innovation Labs</li>
                <li>AMQ Streams</li>
                <li>Quarkus</li>
                <li>Node.js RHOAR</li>
                <li>OpenShift</li>
                <li>Keycloak</li>
                <li>RHEL</li>
                <li>UBI</li>
              </ul>

            </div>
          </div>
          </div>

        </div>

    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
    </div>


