

  <div class="starter-template">
      <div  >



          <div class="row">
            <div class="col">
            <img src="../../assets/labs.png" style="max-width:100%;
            height:auto; padding-left: 10px" >
          </div>
          <div class="col">
            <div class="presentation " >
              <h2 >Impact Mapping</h2>
              <h4 >Coming out of Red Hat Innovation Labs.</h4>

            </div>
          </div>
          </div>

        </div>

    <div class="subFooter" >
        <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">Next</button>
    </div>
    </div>


