<div  style="background-color: black; height:100%; width:100%; display: inline-block">



  <div>
    <img src="../../assets/shakespeare.png" height="500px" style="float:left;">
    <div style="float:left; padding:10px;" height="500px;">
      <h2 style="color: white">Shakespeare Schwarzenegger</h2>
      <h4 style="color: white">Systems built as Reactive Systems are more flexible, loosely-coupled and scalable.<br>This makes them easier to develop and amenable to change</h4>
      <ul style="color: white; font-size: 26px">
        <li>Responsive</li>
        <li>Resilient</li>
        <li>Elastic</li>
        <li>Message driven</li>

          <li>Reduced Time to Market</li>
          <li>Cost reduction</li>
          <li>Better Systems for Customers</li>
        </ul>
    </div>
  </div>

</div>
