<div >



    <div class="row ">
      <div class="col-5">
    <img  style="padding-left:10px" src="../../assets/shakespeare.png" style="max-width:100%;
    height:auto;">
      </div>
      <div class="col-7">
    <div  class="presentation">
      <h2 >Shakespeare, Swartzenegger and Hamilton or Supersonic, Reactive Java Microservices (with Twitter)</h2>
      <h4 >Systems built as Reactive Systems are more flexible, loosely-coupled and scalable.<br>This makes them easier to develop and amenable to change</h4>
      <ul >
        <li>Responsive</li>
        <li>Resilient</li>
        <li>Elastic</li>
        <li>Message driven</li>

          <li>Reduced Time to Market</li>
          <li>Cost reduction</li>
          <li>Better Systems for Customers</li>
        </ul>
        </div>
    </div>
  </div>

</div>
